/* Site menu */

#site-nav.navbar-default {
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    background-color: @alt-color;
    background-image: none;

    .box-shadow(none);
    border: 0 none;

    .box-sizing();
    height: @header-height;

    position: fixed;
    top: @rz-header-height;
    left: 0;
    right: 0;
    z-index: 99;
}

#site-nav.navbar-default .navbar-brand,
#site-nav.navbar-default .navbar-nav > li > a {
    color: #333333;
}

#site-nav.navbar-default .navbar-nav > li > a {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;

    padding: 2px 12px;
    margin: 12px 5px;

    background-color: #f7f7f7;
    text-shadow: none;
    border: 1px solid #afafaf;

    .rounded(25px);

    &:hover {

        color:#eaeaea;
        text-shadow: none;
        text-decoration: none;
        background-color: #4d4d4d;
        border: 1px solid #4d4d4d;
    }
}



#navbar-elements {
    //float: right;
    padding-left: 0px;
    background-color: @alt-color;
}

@media (max-width: 768px) {
    #navbar-elements {
        float: none !important;
        padding-left: 2em;
    }
}
